<div class="row p-0 m-0">
  <div class="col">
    <div class="form-body">
      <div class="form-holder mb-5">
        <div class="form-content">
          <div class="form-items">
            <div *ngIf="actualUrl.includes('add')">
              <h3>Agregar Experiencia</h3>
            </div>
            <div *ngIf="actualUrl.includes('change')">
              <h3>Modificar Experiencia</h3>
            </div>
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
              <div class="input-group col-md-12">
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                  type="text"
                  formControlName="descripcion"
                  placeholder="{{ exp.descripcion}}"
                  required
                ></textarea>
                <p style="color: aliceblue" class="pb-0">Descripcion</p>
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  formControlName="lugar"
                  placeholder="{{ exp.lugar }}"
                  required
                />
                <p style="color: aliceblue" class="pb-0">Lugar</p>
              </div>
              <div class="col-md-12 pt-3">
                <input
                  class="form-control"
                  type="text"
                  formControlName="foto"
                  placeholder="{{ exp.foto }}"
                  required
                />
                <p style="color: aliceblue" class="pb-0">Foto (link)</p>
              </div>
              <div class="col-md-12 pt-3">
                <input
                  class="form-control"
                  type="date"
                  formControlName="fechaIni"
                  value="{{ exp.fechaIni }}"
                  required
                />
                <p style="color: aliceblue" class="pb-0">Fecha inicio</p>
              </div>
              <div class="col-md-12 pt-3">
                <input
                  class="form-control"
                  type="date"
                  formControlName="fechaFin"
                  value="{{ exp.fechaFin}}"
                  required
                />
                <p style="color: aliceblue" class="pb-0">Fecha fin</p>
              </div>
              <div class="form-button mt-3">
                <div *ngIf="actualUrl.includes('add')">
                  <button id="submit" type="submit" class="btn btn-primary">
                    Guardar
                  </button>
                </div>
                <div *ngIf="actualUrl.includes('change')">
                  <button id="submit" type="submit" class="btn btn-primary">
                    Modificar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="actualUrl.includes('change')" class="col tecnos mt-4 me-3">
    <h3>Sacar</h3>
    <div *ngIf="actualUrl.includes('change')">
      <ul *ngFor="let expTecno of exp.tecnologias">
        <li>{{ expTecno.nombre }} <i (click)="deleteTecno(expTecno.id)" class="bi bi-arrow-down-circle"></i></li>
      </ul>
    </div>
    <hr />
    <h3>Agregar</h3>
    <div *ngIf="actualUrl.includes('change')">
      <ul *ngFor="let tecno of tecnos">
        <li>{{ tecno.nombre }} <i (click)="addTecno(tecno.id)" class="bi bi-arrow-up-circle"></i></li>
      </ul>
    </div>
  </div>
</div>
