<nav class="w-100 h-30 bg-secondary pe-3">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <img src="../../../assets/Img/APLogo-20-20.png" alt="" class="argP" />
      <i class="bi bi-house home social ms-2" routerLink="Welcome"></i>
    </div>
    <div class="d-flex">
      <a href="https://www.linkedin.com/in/kevinqueiro/" class="pe-5 bi bi-linkedin social"></a>
      <a href="https://github.com/KevinQueiro" class="pe-5 bi bi-github social"></a>
      <div *ngIf="sesion">
        <i (click)="closeSesion()" class="bi bi-box-arrow-left pe-5 social"></i>
      </div>
      <div *ngIf="!sesion">
        <i
          class="bi bi-box-arrow-right pe-5 social"
          id="name"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        ></i>
      </div>
    </div>
  </div>
</nav>
<img class="img-fluid" src="../../../assets/Img/bannner.jpg" alt="" />
<app-login></app-login>
