<div class="m-0 row justify-content-center main mb-5">
  <h1 class="col-auto pt-4 text-center">MIS PROYECTOS</h1>
  <div *ngFor="let user of usuario">
    <div *ngFor="let pro of user.proyectos">
      <div class="container bcontent row justify-content-center text-center">
        <h2 class="mt-4">-> {{ pro.nombre }} <-</h2>
        <hr />
        <div class="card" style="width: 500px">
          <div class="row no-gutters">
            <div class="col-sm-5">
              <img class="card-img mt-2" src="{{ pro.foto }}" alt="..." />
              <div *ngFor="let tecno of pro.tecnologias">
                <p>┼ {{tecno.nombre}} ┼</p>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="card-body">
                <p class="card-text">{{ pro.descripcion }}</p>
                <a href="{{ pro.link }}" class="btn btn-primary">
                  ver {{ pro.nombre }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
