/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background:rgba(255, 255, 255, 0);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(20, 58, 96),rgb(0, 0, 0));
    /* color of the scroll thumb */
    border-radius: 15px;
    /* roundness of the scroll thumb */
    border: 1px solid gray;
    /* creates padding around scroll thumb */
}

    html, body{
      height:100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
    }