<div class="form-body">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <div *ngIf="actualUrl.includes('add')">
            <h3>Agregar Tecno</h3>
          </div>
          <div *ngIf="actualUrl.includes('change')">
            <h3>Modificar Tecno</h3>
          </div>
          <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                formControlName="nombre"
                placeholder="nombre"
                value="{{tecno.nombre || 'nombre'}}"
                required
              />
            </div>
            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                formControlName="tipo"
                placeholder='tipo'
                value="{{tecno.tipo ||'tipo'}}"
                required
              />
            </div>
            <div class="form-button mt-3">
              <div *ngIf="actualUrl.includes('add')">
                <button id="submit" type="submit" class="btn btn-primary">
                  Guardar
                </button>
              </div>
              <div *ngIf="actualUrl.includes('change')">
                <button id="submit" type="submit" class="btn btn-primary">
                  Modificar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>