<div class="m-0 main mb-5 flex-column justify-content-center">
  <h1 class="col-auto p-4 text-center">MIS EXPERIENCIAS</h1>
  <div *ngFor="let user of usuario">
    <div *ngFor="let exp of user.exps" class="d-flex justify-content-center">
      
      <div class="flip-card mb-5 align-middle">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h1 class="">{{exp.lugar}}</h1>
          </div>
          <div class="flip-card-back">
            <div *ngIf="sesion" class="text-end">
              <i class="bi bi-pencil-square" routerLink="change/{{ exp.id }}"></i>
              <i class="bi bi-x-octagon ms-3" (click)="onDelete(exp.id)"></i>
            </div>
            <p>{{exp.descripcion}}</p>
            <p>{{exp.fechaIni}} - {{exp.fechaFin}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="sesion" class="text-center pt-5 pb-5">
    <i class="bi-plus-circle" routerLink="add/{{ usuario[0].id }}"></i>
  </div>
</div>
